.Header {
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.logoFest {
  height: 95px;
  margin-left: 67px;
  margin-top: 5px;
  float: left;
}

.navBar {
  float: right;
}

.nav {
  display: flex;
  list-style: none;
  line-height: 90px;
  margin-right: 35px;
  margin-top: 5px;
}

.nav li a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  padding: 0 25px;
  letter-spacing: 2px;
  font-weight: 800;
  transition: color 0.3s ease;
}

.nav li a:hover,
.activeLink {
  color: rgb(250, 123, 5);
}

@media screen and (max-width: 1023px) {
  .nav {
    display: none;
  }
  .mobileNavBtn {
    display: block;
  }
}

@media screen and (max-width: 739px) {
  .logoFest {
    height: 61px;
    margin-left: 12px;
    margin-top: 18px;
  }
  .mobileNavBtn {
    margin-right: 0;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .logoFest {
    height: 88px;
    margin-left: 40px;
    margin-top: 13px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
