.clear {
  clear: both;
}

.slogan {
  position: relative;
}

.headerSlogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 400px;
  left: 0;
  right: 0;
  color: white;
  font-weight: 550;
  letter-spacing: 2px;
}

.centerSlogan {
  font-size: 90px;
  margin-bottom: 40px;
  text-shadow: 0.5px 0.5px 15px rgba(0, 0, 0, 0.4);
}

.balloonBackground {
  position: absolute;
  top: 120px;
  right: 0;
  z-index: -1;
  width: 80%;
  max-width: 800px;
}
.cloud {
  width: 100vw;
  position: absolute;
  left: 0;
}
.mountain {
  width: 100vw;
  display: block;
}

/* --- Content Section --- */
.content {
  width: 85%;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contentSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.imgContent {
  width: 57%;
  border-radius: 15px 90px 15px 90px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
}
.paraContent {
  line-height: 50px;
}
.paraContent h2 {
  text-align: center;
  font-size: 60px;
  font-family: fantasy;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 90px;
}
.paraContent p {
  text-align: justify;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 20px;
}

.content2,
.content3 {
  margin-top: 100px;
}

.content1,
.content2,
.content3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*content-1*/
.content1 .paraContent p {
  margin-left: 30px;
  color: rgb(116, 22, 52);
}

.content1 .paraContent h2 {
  margin-left: 20px;
  color: rgb(252, 6, 84);
}

/*content-2*/
.content2 .paraContent {
  margin-top: 100px;
}
.content2 .paraContent p {
  margin-right: 40px;
  letter-spacing: 1.3px;
  color: rgb(67, 5, 63);
}

.content2 .paraContent h2 {
  margin-right: 25px;
  color: rgb(133, 10, 125);
}

/*content-3*/
.content3 .paraContent {
  margin-top: 100px;
}

.content3 .paraContent p {
  margin-left: 30px;
  color: rgb(36, 14, 71);
}

.content3 .paraContent h2 {
  margin-left: 20px;
  color: rgb(113, 54, 209);
}

.sponsors {
  margin-top: 150px;
}
.sponsors h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-weight: 900;
}
.logoSponsors {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 25px 0;
}
.imgSponsors {
  margin: 0 35px;
}
.imgSponsors img {
  width: 130px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .header .logoFest {
    height: 88px;
    margin-left: 40px;
    margin-top: 13px;
  }

  .headerSlogan .centerSlogan {
    font-size: 65px;
  }

  .time h2 {
    font-size: 20px;
    margin: 10px;
  }

  .time {
    margin: 10px;
    z-index: 5;
  }

  .slogan .headerSlogan {
    top: 240px;
  }

  .mountain {
    height: 660px;
  }
  .cloud {
    height: 560px;
  }

  .balloonBackground {
    top: 90px;
    max-width: 570px;
  }

  .content1,
  .content3 {
    flex-direction: column-reverse;
  }

  .content2 {
    flex-direction: column;
  }

  .content1 {
    margin-top: 100px;
  }

  .content .content1 h2,
  .content .content3 h2,
  .content .content1 p,
  .content .content3 p {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }

  .content .content2 h2,
  .content .content2 p {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }

  .imgContent {
    width: 87%;
    margin-top: 50px;
    margin-bottom: 70px;
    object-fit: cover;
  }

  .sponsors .imgSponsors img {
    width: 60px;
  }
}

/* Mobile */
@media screen and (max-width: 739px) {
  .slider {
    height: 400px;
  }

  .navBar .navBarsBtn {
    margin-right: 0;
  }

  .header .logoFest {
    height: 61px;
    margin-left: 12px;
    margin-top: 18px;
  }

  .slogan .headerSlogan {
    letter-spacing: 0;
  }

  .headerSlogan .centerSlogan {
    font-size: 40px;
    margin-bottom: 0;
  }

  .time h2 {
    font-size: 15px;
    margin: 0px;
    bottom: 0;
    font-weight: 700;
  }

  .time {
    margin: 10px;
    z-index: 5;
    padding: 0 10px;
  }

  .time p {
    padding-top: 5px;
    font-size: 15px;
  }

  .slogan .headerSlogan {
    top: 200px;
  }

  .cloud {
    top: 110px;
    transform: scale(1.5);
    overflow: hidden;
  }
  .balloonBackground {
    max-width: 500px;
    top: 138px;
    transform: scale(1.5);
    overflow: hidden;
  }

  .mountain {
    height: 430px;
  }

  .content1,
  .content3 {
    flex-direction: column-reverse;
  }

  .content2,
  .content3 {
    margin-top: 0;
  }

  .content2 {
    flex-direction: column;
  }

  .content1 {
    margin-top: 100px;
  }

  .content .content1 h2,
  .content .content3 h2,
  .content .content1 p,
  .content .content3 p {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }

  .content .content2 h2,
  .content .content2 p {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
  }

  .imgContent {
    width: 87%;
    margin-top: 50px;
    margin-bottom: 70px;
    object-fit: cover;
  }

  .sponsors .imgSponsors {
    width: 48%;
    display: inline-block;
  }

  .sponsors .imgSponsors img {
    width: 50%;
  }

  .content h2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 4px;
    word-spacing: 1.5px;
  }

  .content p {
    font-size: 20px;
    line-height: 32px;
  }

  .sponsors .logoSponsors {
    max-width: 96vw;
    height: 365px;
    text-align: center;
    display: block;
    border-radius: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .sponsors .imgSponsors {
    margin: 20px 0;
  }

  .sponsors h2 {
    font-size: 50px;
    letter-spacing: 10px;
  }

  .footer .navFooter img {
    width: 330px;
  }

  .logoSmedia {
    padding: 0 25px;
    font-size: 25px;
  }

  .logoFooter {
    margin: 35px;
  }

  .subnavFooter ul {
    display: inline-block;
    margin-top: 0;
    width: 100%;
  }

  .subnavFooter li a {
    font-size: 15px;
    font-weight: 650;
    padding: 0;
  }

  .subnavFooter li {
    width: 49%;
    text-align: center;
    margin: 20px auto;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 1023px) {
  .navBar .navBarsBtn {
    display: block;
  }
  .nav a {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
